<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to 'Home', root_path %></li>
  <li role="presentation"><%= link_to 'Post', posts_path %></a></li>
  <li role="presentation"><a href="#">Related Post</a></li>
  <li role="presentation"><a href="#">Tag Cloud</a></li>
</ul>
